/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

/* Space out select and input */
select {
  margin-top: 10px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}
.container-narrow > hr {
  margin: 30px 0;
}

/* split two screens */
.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

/* Grab Left Image */
.split.left {
  left:0;
  top:0;
  bottom: 0;
  background: url('clock.jpeg') center center no-repeat;
  background-size: cover;
}

/* light blue overlay */
.wrapLeft {
  height:100%;
  position: absolute;
  top:0;
  left:0;
  width:50%;
  z-index:1;
  background:#225470;
  /*background: red;*/
  opacity:0.5;
}

/* rightside */
.split.right {
  right:0;
  top:0;
  background:#225470;
  background-size: cover;
  overflow: scroll;
}

/* content */
.contentLeft {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  height:100%;
  width: 50%;
  text-align: center;
}
/* form */
form {
  margin-left: 10%;
  margin-right:10%;
}

/* h2 color */
h2 {
  color: white;
}

/* Label color */
label {
  color: white;
}

/* well margins */
.well {
  margin-top: 3%;
}
